.headersearch{
	padding-right: 100px;
}

.titlestyle{
	font-size: 3em;
	font-family: 'FuturaLight', Arial;
	text-align: left;
	margin-top: 10px;

}

.gcolor, .icolor{
	color : #4285F4;
}
.acolor, .ncolor{
	color : #EA4335;
}
.tcolor{
	color : #FBBC05;
}
.ecolor{
	color : #34A853;
}

.searchbar{
	margin: left;
	margin-left: 150px;
	margin-top: -70px;
	border: 1px grey solid;
	width: 28%;
	border-radius: 15px;
	overflow: hidden;
}
#search{
	margin-left: 10px;
	border-style: hidden;
	outline: none;
	font-size: 20px;
	padding-bottom: 0.4%;
	text-align: left;

}


.searchButton{
	width: 1.8em;
	margin-right: 1.2%;
	margin-top: 0.55%;
}

.musicButton{
	float: left;
}

/*no class because there is no other a or table balise*/
a{
	text-decoration: none;
	color: black;
}
table{
	border-collapse: collapse;
	background-color: white;
}
td{
	padding-right: 30px;
	padding-left: 30px;
	border: 1px solid black;
}
td:hover{
	background-color: #E3E3E3;
}

.gatienDef{
	font-family: 'FuturaBold', Arial;
	font-size: 2.3em;
	font-style: bold;
}


@font-face{
	font-family: 'FuturaLight';
	src:  url('FuturaPTLight.otf');
}
@font-face{
	font-family: 'FuturaBook';
	src:  url('FuturaPTBook.otf');
}