.titlestyle{
	font-size: 8em;
	font-family: 'FuturaLight', Arial;
	text-align: center;
	margin-top: 10%;

}

.gcolor, .icolor{
	color : #4285F4;
}
.acolor, .ncolor{
	color : #EA4335;
}
.tcolor{
	color : #FBBC05;
}
/*.icolor{              //useless because it's the same color as the G
	color : #4285F4;
}*/
.ecolor{
	color : #34A853;
}
/*.ncolor{
	color : #EA4335;
}*/

.searchbar{
	margin: auto;
	margin-top: -3%;
	border: 1px grey solid;
	width: 30%;
	border-radius: 15px;
	overflow: hidden;
}
#search{
	margin-left: 10px;
	border-style: hidden;
	outline: none;
	font-size: 20px;
	padding-bottom: 0.4%;
	text-align: left;

}


.searchButton{
	width: 1.8em;
	margin-right: 1.2%;
	margin-top: 0.55%;

}
/*
.interrogationpoint{
	text-align: right;
	font-size: 2em;
	color : #4285F4;
}
.interrogationpoint:hover{
	color: #EA4335;
}*/

.buttons{
	text-align: center;
	margin-top: 1%;

}
.buttonclass1, .buttonclass2{
	border-radius: 15px;
	border-width: 2px;
	width: 200px;
	font-size: 1.2em;
	border-color: #E3E3E3;
	background-color: white;
	border-style: solid;
	cursor: pointer;

  	margin-bottom:  3px;
}
.buttonclass1:hover, .buttonclass2:hover{
	background-color: #E3E3E3;
}

.suggestions-content{
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	text-align: left;
	display: none;
  	width: 25%;
  	margin: auto;
  	margin-top: 1%;
  	font-family: Arial;
  	font-style: italic;
  	border-radius: 5px;
}
.suggestions-content a{
	color: black;
  	padding: 12px 16px;
  	text-decoration: none;
  	display: block;
}
.suggestions-content a:hover{
	background-color: #e3e3e3;
	border-radius: 5px;
}
.show{
	display: block;
}

@media all and (max-width:  1024px){
	.searchbar{
		width:  80%;
	}
	.titlestyle{
		font-size: 6em;
		margin-top: 8%;
	}
	.buttons{
	margin-top: 5%;
	}
	.buttonclass1, .buttonclass2{
	font-size: 1.3em;
	}
}
@media all and (max-width:  650px){
	.searchbar{
		width:  90%;
	}
}
@media all and (max-width:  1424px) and (min-width:  1025px){
	.searchbar{
		width:  50%;
	}
}

@font-face{
	font-family: 'FuturaLight';
	src:  url('FuturaPTLight.otf');
}