/*header style*/
.headersearch{
	padding-right: 100px;
}

.titlestyle{
	font-size: 3em;
	font-family: 'FuturaLight', Arial;
	text-align: left;
	margin-top: 10px;
}
.titlestyle:hover{
	cursor: pointer;
}
/*logo style*/
.gcolor, .icolor{
	color : #4285F4;
}
.acolor, .ncolor{
	color : #EA4335;
}
.tcolor{
	color : #FBBC05;
}
.ecolor{
	color : #34A853;
}

/*search bar style*/
.searchbar{
	margin: left;
	margin-left: 150px;
	margin-top: -70px;
	border: 1px grey solid;
	width: 28%;
	border-radius: 15px;
	overflow: hidden;
	min-width: 290px;
}
#search{
	margin-left: 10px;
	border-style: hidden;
	outline: none;
	font-size: 20px;
	padding-bottom: 0.4%;
	text-align: left;

}
.searchButton{
	width: 1.8em;
	margin-right: 1.2%;
	margin-top: 0.55%;
}

.musicButton{
	float: left;
	width: 40px;
	margin-right: 10px;
}


/*menu style
	-no class because there is no other a or table balise*/
a{
	text-decoration: none;
	color: black;
}
table{
	position: absolute;
	margin-bottom: 20px;
	border-collapse: collapse;
	background-color: white;
	margin-left: 9%;
}
td{

	display: inline;
	font-family: 'FuturaLight', Arial;
	font-size: 18px;
	padding-right: 30px;
	padding-left: 30px;
}
td:hover{
	font-family: 'FuturaBook', Arial;
	border-bottom: 2px solid #4285F4;
}
td:hover a{
	color: #4285F4;
}

.gatienDef{
	margin-top: 7%;
	font-family: 'FuturaBold', Arial;
	font-size: 2.3em;
	font-style: bold;
	overflow: visible;
	min-width: 400px;
}

.gatienSousTitre{
	margin-top: -15px;
	padding-left: 3%;
	color: grey;
	font-family: Arial;
	margin-left: 2%;
}

/*list style*/
.articleTopSection{
	width: 50%;
	border-bottom: 1px solid #E3E3E3;
	margin-left: 2%;
}

.listArticleSection{
	padding-left: 5%;
	font-family: Arial;
	float: left;
	width: 55%;
	list-style-type: circle;
	min-width: 400px;
}

.listArticleSection li{
	padding-bottom: 2px;
}


.asideSection{
	position: relative;
	float: right;
	margin-right: 6%;
	margin-top: -5%;
	border: 2px solid grey;
	border-radius: 8px;
	background: url("photoprofilcarre.jpg") fixed no-repeat top right;
	background-size: 200px;
	overflow: hidden;
}
.titreAside{
	font-family: 'FuturaBook', Arial;
	padding-left: 12px;
	margin-bottom: -10px;
}
.sousTitreAside{
	font-family: 'FuturaLight', Arial;
	color: grey;
	padding-left: 12px;
}
.photoProfil{
	width: 500px;
}
.textAside, .textSchoolAside{
	font-family: Arial;
}
.textSchoolAside{

	font-style: italic;
}
.asideSection p{
	padding-left: 12px;
}

.barHr{
	width: 85%;
	height: 1px;
	background-color: #E3E3E3;
	border-style: inset; 
	border:  none;
}

/*questions menu*/
.titleQuestions{
	font-size: 20px;
	font-weight: bold;
}
.questions-content{
	text-align: left;
	display: none;
  	width: 100%;
  	margin: auto;
  	margin-top: 1%;
  	font-family: Arial;
}
.questions-content p{
	color: black;
  	padding: 12px 16px;
  	text-decoration: none;
  	display: block;
}
.questions-content p:hover{
	background-color: #f5f5f5;
}
.show{
	display: block;
}
.questionsDiv{
	margin-left: 5%;
	margin-right: 50%;
	font-family: Arial;
	border-bottom: 1px solid #e3e3e3;
	width: 30%;
	min-width: 400px;
}
.questionsDiv:hover{
	border-bottom: 1px solid grey;
	cursor: pointer;
}
.questionsText{
	margin-left: 5%;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.arrowImg{
	width: 12px;
	margin-top: 3px;
	float: right;
	transform: rotate(0deg);
	transition: 0.5s;
	overflow: hidden;
}
.questionsDiv:hover .arrowImg{
	transform: rotate(90deg);
	transition: 0.5s;
}

/* test with an hr in the answers questions
.hrAnswers{
	margin-left: -16.7%;

	width: 133%;
	height: 1px;
	background-color: #E3E3E3;
	border-style: inset; 
	border: none;
}*/

/*footer*/
.nextPage{
	display: block;
	margin-top: 10%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
	border: 1px solid grey;
	background-color: white;
	padding-left: 7%;
	padding-right: 7%;
	color: #4285F4;
	font-size: 20px;
}
.nextPage:hover{
	background-color: #E3E3E3;
	cursor: pointer;
}
/*fonts*/
@font-face{
	font-family: 'FuturaLight';
	src:  url('FuturaPTLight.otf');
}
@font-face{
	font-family: 'FuturaBook';
	src:  url('FuturaPTBook.otf');
}

/*responsive*/
@media all and (max-width:  1444px){
	.articleTopSection{
		margin-top: 3%;
	}
}
@media (max-width:  1080px){
	.articleTopSection{
		margin-top: 6%;
	}
}
@media (max-width:  600px){
	.articleTopSection{
		margin-top: 9%;
	}
	.listArticleSection{

	}
	.asideSection{
		width: 90%;
		margin-bottom: 15px;
	}
	.questionsDiv{	

		min-width: 350px;
	}
}