
.formationsDef{
	margin-top: 3%;
	margin-left: 3%;
	font-family: 'FuturaBook', Arial;
	font-size: 2em;
	overflow: visible;
	min-width: 400px;
}
#skillsDef{
	margin-top:  1%;
}
#conteneur{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	

}
.formation{
	min-width: 240px;
	justify-content: center;
	background-color: white;
	flex: 1;
	border: 2px solid #e3e3e3;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 10px;
	text-align: center;
	border-radius: 8px;
	transition: 1s;
	padding: 10px;

}

.formation:hover{
	cursor: default;
	width: +10%;
	transition: 1s;
	padding-left: 1%;
	padding-right: 1%;
}
.formation p{
	font-family: 'FuturaLight', Arial;
}
.titreFormation{
	font-family: 'FuturaBook', Arial;
	font-size: 18px;
}

.logoFlexbox{
	width: 50px;
	overflow: hidden;
	float: right;
	margin-right: 10%;
	margin-left: -100px;
}
#logoHtmlId{
	width: 70px;
}
#logoCssId{
	width: 44px;
}
#logoJsId{
	width: 115px;
	margin-right: -5px;
}
#logoCsharpId{
	margin-top: -10px;
	width: 85px;
	margin-right: -10px;
}
#logoAdobeId{
	width: 50px;
	margin-top: 10px;
}
#logoContactID{
	margin-top: -14px;
	margin-right: -5px;
	width: 60px;
}

.hrFormations{
	width: 85%;
	height: 1px;
	background-color: #E3E3E3;
	border-style: inset; 
	border:  none;
	margin-top: 4%;
}

/*Image Menu*/
.imagesDiv{
	margin-left: 5%;
	margin-right: 5%;
	font-family: Arial;
	border-bottom: 1px solid #e3e3e3;

}
.imagesDiv:hover{
	border-bottom: 1px solid grey;
	cursor: pointer;
}
.imagesDiv:hover .arrowImg{
	transform: rotate(90deg);
	transition: 0.5s;
}

/*Screenshots*/

.imgRetro{
	width: 30%;
}
.imgRetro:active{
	transition: 1s;
	width: 50%;
}
.imgRetroPlayStore{
	float: right;
	width: 60%;
}
.imgRetroPlayStore:active{
	transition: 1s;
	width: 70%;
}
.linkProjects{
	font-family: 'FuturaBook';
	font-size: 18px;
}
.imgSkin{
	width: 100%;
}
.imgSkin2{
	width: 49%;
}

/*fonts*/
@font-face{
	font-family: 'FuturaLight';
	src:  url('FuturaPTLight.otf');
}
@font-face{
	font-family: 'FuturaBook';
	src:  url('FuturaPTBook.otf');
}

@media all and (max-width:  1100px)
{
	.formationsDef{
		margin-top: 4%;
	}
}
@media all and (max-width:  840px)
{
	.formationsDef{
		margin-top: 7%;
	}
}
@media all and (max-width:  600px)
{
	.formationsDef{
		margin-top: 11%;
	}
}